<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ll.to.syy"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- android:screenOrientation="portrait" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/bomb_nomal"
        android:label="@string/Disarm_Bombs"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/Disarm_Bombs"></activity>
        <activity
            android:name=".LoveActivity"
            android:label="@string/title_activity_love" />
        <activity
            android:name=".FriendActivity"
            android:label="@string/title_activity_friend" />
        <activity
            android:name=".FamilyActivity"
            android:label="@string/title_activity_family" />
        <activity
            android:name=".Friend_textActivity"
            android:label="@string/title_activity_friend_text"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Family_textActivity"
            android:label="@string/title_activity_family_text"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Love_textActivity"
            android:label="@string/title_activity_love_text"
            android:launchMode="singleInstance" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>